.col-xl-1 .kt-margin-b-20-tablet-and-mobile .btn-elevate {
    background-color: #ff6600;
    border-color: #ff6600;
}

.kt-form.kt-form--label-right .delete_result .btn-elevate {
    background-color: #396ec2;
    border-color: #396ec2;
    color: #fff;
}

.col-md-4.kt-margin-b-20-tablet-and-mobile .check-sort select {
    border: 1px solid #dadada;
}